
.element__like {
    width: 22px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../images/element__like/Vector\ \(1\).svg);
    border: none;
}

.element__like:hover {
    opacity: 0.5;
}

.element__like:active {
    background-image: url(../../..//images/element__like/Union.png);
}