.popup-image__img {
    max-width: 816px;
    max-height: 540px;
    z-index: 5;
    object-fit: cover;
}


@media screen and (max-width:950px) {
.popup-image__img {
    max-height: 299px;
    max-width: 240px;
}
}