
.profile-info {
    max-width: 486px;
    align-self: center;
    display: grid;
    grid-template-columns: 120px 294px 24px;
    grid-template-areas: 
    "i a b"
    "i c c";
    gap: 16px 18px;
}


@media screen and (max-width:950px) {

.profile-info {
    max-width: 282px;
    grid-template-columns: 189px 18px;
    gap: 14px 10px;
    grid-template-areas:
    "i i"
    "a b"
    "c c";
}
}